{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
    <h1 class="title">{{ project.title }}</h1>
    <div class="project">
        {% if project.client %}
            <h3>Client :</h3>
            <p>{{ project.client.name }}</p>
        {% endif %}
        <h3>Catégorie :</h3>
        <p>{{ project.category.name }}</p>
        <h3>Description :</h3>
        <p>{{ project.description }}</p>
        <div class="link">
            <div class="github">
                <a href="{{ project.github ? project.github : '' }}"><i class="fab fa-github fa-2x"></i></a>
            </div>
            {% if project.website %}
                <h3>Website :</h3>
                <a href="{{ project.website }}">{{ project.website }}</a>
            {% endif %}
            {% if project.video %}
                <h3>Video :</h3>
                <p>{{ project.video }}</p>
            {% endif %}
        </div>
    </div>
    <h3>Gallerie :</h3>
    <div class="gallery">
        {% for picture in project.galleries %}
            <img src="{{ vich_uploader_asset(picture, 'pictureFile') }}" alt="{{ picture.picture }}">
        {% endfor %}
    </div>
{% endblock %}
