{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
    <h1 class="title">{{ project.title }}</h1>
    <div class="info">
        <div>
            {% if project.client %}
                <p>Client : <strong>{{ project.client.name }}</strong></p>
            {% endif %}
            <p>Catégorie : <strong>{{ project.category.name }}</strong></p>
            <div class="github mb-3">
                <a href="{{ project.github ? project.github : '' }}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            </div>
            {% if project.website %}
                <div>
                    <a href="{{ project.website }}">Site web</a>
                </div>
            {% endif %}
        </div>
        <div class="description">
            <h3>Description :</h3>
            {{ project.description }}
        </div>
        {#        <div class="link"> #}
        {#            {% if project.video %} #}
        {#                <h3>Video :</h3> #}
        {#                <p>{{ project.video }}</p> #}
        {#            {% endif %} #}
        {#        </div> #}
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <h3>Gallerie</h3>
    </div>
    <div class="gallery">
        {% for picture in project.galleries %}
            <img class="modal-open" data-modal="modal{{ loop.index }}"
                 src="{{ vich_uploader_asset(picture, 'pictureFile') }}" alt="{{ picture.picture }}">
            <div id="modal{{ loop.index }}" class="modal">
                <div class="modal-content modal-close">
                    <img width="100%" src="{{ vich_uploader_asset(picture, 'pictureFile') }}"
                         alt="{{ picture.picture }}"/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
